<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册学习系统首页</title>
    <link href="/static/ylogin/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>
<body>
<div class="main">
    <div class="header">
        <h1>登录注册学习系统首页</h1>
    </div>
    <form action="{% url 'ylogin:login' %}" method="POST">
        <ul class="right-form">
            {% csrf_token %}
            <h3>Login:</h3>
            <div>
                <li>
                    <label>
                        <input type="text" name="username" placeholder="Username" required/>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="password" name="password" placeholder="Password" required/>
                    </label>
                </li>
                <h4>I forgot my Password!</h4>
                <input type="submit" value="Login">
            </div>
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
    </form>
</div>
{% if not user %}

    <a href="{% url 'ylogin:registerView' %}">注册/登录</a>
{% else %}
    用户{{ user }}已经登录！
    <a href="{% url 'ylogin:logout' %}">注销</a>
{% endif %}
</body>
</html>